<html>
  <head></head>
  <body>
    <h1>Artists</h1>

    <% @artists.each do |artist| %>
      <div>
        Artist: <%= artist.name%><br>
        Genre: <%= artist.genre%><br>
        <a href="/artists/<%=artist.id%>"> Go to Artist </a>
      </div>
    <% end %>
    <!-- ... -->
  </body>
</html>