<html>
  <head></head>
  <body>
    <h1>Add an album</h1>
    <form action="/albums" method="POST">
      <input type="text" name="title" id="title">
      <label for="title">Title</label><br>
      <input type="text" name="release_year" id="release_year">
      <label for="release_year">Release Year:</label><br>
      <input type="submit" value="Submit the form">
    </form>
  </body>

</html>
