<html>
  <head></head>
  <body>
    <h1>Add an artist</h1>
    <form action="/artists" method="POST">
      <input type="text" name="name" id="name">
      <label for="name">Name</label><br>
      <input type="text" name="genre" id="genre">
      <label for="name">Genre</label><br>
      <input type="submit" value="Submit the form">
    </form>
  </body>

</html>
